.response-list {
  overflow-y: auto;
  scrollbar-width: thin; /* Dünner Scrollbalken (nur für Firefox) */
  scrollbar-color: #ccc #f9f9f9; /* Farbe Scrollbalken / Hintergrund */
}

/* Für WebKit-Browser (Chrome, Edge, Safari) */
.response-list::-webkit-scrollbar {
  width: 8px;
}

.response-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.response-list::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.formular {
  display: flex; 
  justify-content:center;
  align-items: center; /* Zentriert Eingabe und Button vertikal */
  gap: 10px; 
  width: 50%;
}

.formular input {
  flex: 1; /* Lässt das Eingabefeld den verfügbaren Platz ausfüllen */
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 13px; 
}

.formular input:focus {
  outline: none; 
  border-color: #0b1c2e; 
}

.formular button {
  padding: 6.5px 20px; 
  background-color: green; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 13px; 
}

.formular button:hover {
  background-color: #092036; 
}

.formular button:active {
  background-color: #061529; 
  transform: scale(0.98);
}

.response-list {
  padding: 0 5px;
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 70%;
  overflow-y: auto;
}

.response-container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: flex-start; 
  margin-bottom: 10px; 
}

.bot-message {
  background-color: #f0f0f0;
  color: #333;
  padding: 0 2px;
  border-radius: 5px;
  border: 1px solid #0b1c2e;
  width: fit-content; 
  max-width: 60%; 
  margin: 5px 0; 
  align-self: flex-start; 
}

.user-message {
  /* background-color: #0b1c2e; */
  background-color: #f0f0f0;
  color: #333;
  /* color: white; */
  padding: 0 2px;
  border-radius: 5px;
  width: fit-content; /* Passt die Breite an den Inhalt an */
  max-width: 60%; 
  margin: 5px 0; 
  align-self: flex-end; 
}

.response {
  margin: 0;
  word-wrap: break-word; 
  padding: 10px;
  font-size: 12px;
  text-align: start;
}
.infos {
  display : flex;
  gap: 20px;
}
.infos p {
  font-size: 10px;
  text-align: start;
  word-wrap: break-word; 
  color: green;
}

.pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  overflow-x: auto;
  white-space: pre-wrap;
}

.dropdown-container.model {
  position: absolute;  
  top: 10px; 
  left: 10px; 
  z-index: 1000; 
}

.dropdown-container.question {
  display: flex;
  z-index: 1000;
  flex: 1;
}

.dropdown-container select {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.dropdown-container select:focus {
  outline: none;
  box-shadow: none; /* Falls Browser einen Schatten hinzufügt */
}
