.container {
    background-color: #282c34;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container button {
    padding: 10px 20px;
    /* Innenabstand für den Button */
    background-color: green;
    /* Hintergrundfarbe */
    color: white;
    /* Textfarbe */
    border: none;
    /* Entfernt Standard-Rahmen */
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeigt den Cursor als Hand beim Hover an */
    font-size: 13px;
    /* Gut lesbare Schriftgröße */
}

form input {
    flex: 1;
    padding: 7px 5px;
    width: 20vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

form input:focus {
    outline: none;
    border-color: #0b1c2e;
}

form label{
    font-size: 13px;
}